.btn {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 40px;
    margin-left: 40px;
    gap: 20px;
}
.btnItems {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 6px 14px;
    font-weight: 400;
    border: solid 1px #726e6e; 
    border-radius: 3px;
}